:root {
  --fontColor: rgb(63, 63, 63);
  --card: rgb(255, 255, 255);
}

@font-face {
  font-family: 'baseFont'; /* The name you want to use for the font */
  src: url('../fonts/Lato-Light.woff') format('truetype'); /* Path to the font file */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'baseFont';
  letter-spacing: 6px;

  color: var(--fontColor);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 20px;
}

body {
  font-family: Helvetica, sans-serif;
  max-height: 100vh;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 8% 3fr 2fr 3fr;
  gap: 20px;

  padding: 50px;
}

.searchForm {
  grid-area: 1 / 1 / 2 / 2;
}

.searchBar {
  width: 100%;
  height: 80%;

  padding: 0 20px;

  font-size: 22px;
  background-color: var(--card);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.errorMsg {
  padding: 0 20px;

  font-size: 20px;
  font-weight: 900;
  color: rgb(223, 21, 21);
}

.errorMsgHidden {
  display: none;
}

.errorMsgActive {
  display: block;
}

.searchBar:focus {
  outline: none;
}

.weatherInfo {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;

  padding: 20px;
  max-height: 240px;

  background-color: var(--card);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.weatherInfoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#location {
  max-width: 700px;
  white-space: nowrap;
  overflow-x: auto;
  
  font-size: 30px;
}

#temperature {
  font-size: 100px;
}

#weatherIcon {
  width: 90px;
  height: 90px;
}

.weatherDetailsContainer {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 150px;
  padding: 20px;

  background-color: var(--card);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.weatherDetails {
  display: flex;
  gap: 20px;
}

.weatherDetails p {
  font-size: 20px;
}

.weatherDetailsIcon {
  width: 40px;
  height: 40px;

  filter: invert(28%);
}

.hourlyForecastContainer {
  grid-area: 4 / 1 / 5 / 2;

  display: flex;
  justify-content: space-around;

  padding: 20px;

  background-color: var(--card);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.hourlyForecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hourlyForecast img{
  width: 60px;
  height: 60px;
}

.hourlyForecastTemperature {
  font-size: 30px;
}

.dailyForecastContainer {
  grid-area: 1 / 2 / 5 / 3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;

  background-color: var(--card);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.dailyForecast {
  display: grid;
  grid-template-columns: 2fr 3fr 20%;
  align-items: center;
  gap: 20px;

  padding-left: 10px;
}

.dailyForecastDay {
  font-weight: 900;
}

.conditionContainer {
  display: flex;
  align-items: center;
}

.watermark {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.githubLogo {
  width: 20px;
  height: 20px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ebebeb; /* Set the color of the thumb (scrollable area) */
  border-radius: 6px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #acacac; /* Change the color on hover */
}
